.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ===== עיצוב כללי ===== */
body {
  margin: 0;
  background: #f7f9f8;
  font-family: "Segoe UI", Arial;
  color: #1f2933;
}

/* ===== כותרות ===== */
h2 {
  text-align: center;
  margin-top: 30px;
  color: #1f7a5c;
}

/* ===== רשימת מתכונים ===== */
.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 30px;
}

.recipe-card {
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.25s ease;
}

.recipe-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.recipe-card h3 {
  margin-bottom: 10px;
  color: #134e4a;
}

.recipe-card p {
  margin: 4px 0;
  font-size: 15px;
}

.recipe-card a {
  display: inline-block;
  margin-top: 14px;
  color: #2f855a;
  font-weight: 600;
  text-decoration: none;
}

.recipe-card a:hover {
  text-decoration: underline;
}

/* ===== פרטי מתכון ===== */
.details {
  background: white;
  max-width: 650px;
  margin: 40px auto;
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.details h2 {
  margin-top: 0;
}

.details ul {
  padding-right: 20px;
}

.details li {
  margin-bottom: 6px;
}

/* ===== כפתור מועדפים ===== */
.details button {
  margin-top: 25px;
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #2f855a, #38a169);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.details button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

/* ===== Login ===== */
.login-box {
  max-width: 380px;
  margin: 90px auto;
  background: white;
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.login-box h2 {
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-bottom: 16px;
  font-size: 15px;
}

.login-box input:focus {
  outline: none;
  border-color: #38a169;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #2f855a, #38a169);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  opacity:0.9
}